[submodule "Perl"]
	path = Perl
	url = https://github.com/gendloop/Perl
	branch = main
[submodule "CMake"]
	path = CMake
	url = https://github.com/gendloop/CMake
	branch = main
[submodule "QtCreator"]
	path = QtCreator
	url = https://github.com/gendloop/QtCreator
	branch = main
[submodule "English"]
	path = English
	url = https://github.com/gendloop/English
	branch = main
